<h2>Liste des profils</h2>
<div class="table-responsive">
    <table class="table table-dark table-striped table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Image</th>
        <th>Poste</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for profile in profiles %}
        <tr>
            <td>{{ profile.id }}</td>
            <td>{{ profile.firstname }}</td>
            <td>{{ profile.lastname }}</td>
            <td><img src="{{ asset('uploads/file/' ~ profile.image) }}" alt="{{ profile.lastname }} {{ profile.firstname }}"></td>
            <td>{{ profile.title }}</td>
            <td>{{ profile.description }}</td>
            <td>
                <a class="btn custom" href="{{ path('profile_show', {'id': profile.id}) }}"><span>Voir</span><ion-icon name="ios-eye" class="grey"></ion-icon></a><br><br>
                <a class="btn custom" href="{{ path('profile_edit', {'id': profile.id}) }}"><span>Modifier</span><ion-icon name="ios-create" class="grey"></ion-icon></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">Aucune donnée trouvée</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

<a class="btn custom" href="{{ path('profile_new') }}"><span>Ajouter</span><ion-icon name="ios-add-circle" class="grey"></ion-icon></a>
<br><br>