{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="form_icon text-center">
    <ion-icon name="ios-lock" class="ios-lock-big"></ion-icon>
</div>
<form action="{{ path('login') }}" method="post">
    <div class="form-group">
        <label for="username">Pseudo :</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="_password"  class="form-control"/>
    </div>

    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}

    <button class="btn custom" type="submit">Se connecter</button>
</form>