{% extends 'base.html.twig' %}

{% block body %}
    {% include 'default/header.html.twig' %}
    <main class="container">
        <h1 class="text-center">Ajouter un projet</h1>
        <div class="row">
            <div class="col-12">
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                    {% if form_errors(form.name) %}
                        <div class="alert alert-warning" role="alert">
                            {{ form_errors((form.name)) }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_label(form.image) }}
                    {{ form_widget(form.image) }}
                    {% if form_errors(form.image) %}
                        <div class="alert alert-warning" role="alert">
                            {{ form_errors((form.image)) }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_label(form.active) }}
                    {{ form_widget(form.active) }}
                    {% if form_errors(form.active) %}
                        <div class="alert alert-warning" role="alert">
                            {{ form_errors((form.active)) }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                    {% if form_errors(form.description) %}
                        <div class="alert alert-warning" role="alert">
                            {{ form_errors((form.description)) }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_label(form.techs) }}
                    {{ form_widget(form.techs) }}
                    {% if form_errors(form.techs) %}
                        <div class="alert alert-warning" role="alert">
                            {{ form_errors((form.techs)) }}
                        </div>
                    {% endif %}
                </div>
                <input type="submit" value="Ajouter la tech" class="btn">
                {{ form_end(form) }}
            </div>
        </div>
    </main>
    {% include 'default/footer.html.twig' %}
{% endblock %}
