{% extends 'base.html.twig' %}

{% block body %}
    {% include 'default/header.html.twig' %}
    <main class="container">
        <h1 class="text-center">Ajouter une tech</h1>
        <div class="row">
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
                {% if form_errors(form.name) %}
                    <div class="alert alert-warning" role="alert">
                        {{ form_errors((form.name)) }}
                    </div>
                {% endif %}
            </div>
            {{ form_label(form.image) }}
            {{ form_widget(form.image) }}
            {% if form_errors(form.image) %}
                <div class="alert alert-warning" role="alert">
                    {{ form_errors((form.image)) }}
                </div>
            {% endif %}
            <input type="submit" value="Ajouter la tech">
            {{ form_end(form) }}
        </div>
    </main>
    {% include 'default/footer.html.twig' %}
{% endblock %}
