{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/contact.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/footer.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {{ include('header.html.twig') }}
        </div>
    </div>
    <div id="contact" class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Contact</h1>
                <p class="description">Vous souhaitez que je participe à l'un de vos projets ? Vous êtes intéressés par mon profil ? Vous avez une question ? N'hésitez pas à me contacter, je vous réponds dans les plus brefs délais.</p>
            </div>
        </div>
        <div id="contact_infos" class="row">
            <div id="email" class="col-md-4">
                <p><ion-icon class="icon" name="ios-mail"></ion-icon></p>
                <h3>Email</h3>
                <p>{{ profile.email }}</p>
            </div>
            <div id="mobile" class="col-md-4">
                <p><ion-icon class="icon" name="ios-phone-portrait"></ion-icon></p>
                <h3>Mobile</h3>
                <p>{{ profile.mobile }}</p>
            </div>
            <div id="social" class="col-md-4">
                <p><ion-icon class="icon" name="ios-link"></ion-icon></p>
                <h3>Réseaux sociaux</h3>
                <p>
                    <a href="{{ profile.linkedin }}" target="_blank"><ion-icon class="social_icons" name="logo-linkedin"></ion-icon></a>
                    <a href="{{ profile.github }}" target="_blank"><ion-icon class="social_icons github" name="logo-github"></ion-icon></a>
                    <a href="{{ profile.facebook }}" target="_blank"><ion-icon class="social_icons" name="logo-facebook"></ion-icon></a>
                </p>
            </div>
        </div>
        {{ include('mail/_form.html.twig') }}
    </div>
    <div class="container-fluid">
        <div class="row">
            {{ include('footer.html.twig') }}
        </div>
    </div>
{% endblock %}
