{% extends 'base.html.twig' %}


{% block title %}Équipe{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/equipe.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/info.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/footer.css') }}">
{% endblock %}

{% block body %}
    <div id="equipe" class="container-fluid">
        <div class="row">
            {{ include('header.html.twig') }}
        </div>
    </div>

    <div class="container">
        {% for message in app.flashes('add_evaluation') %}
            <div class="alert alert-success flash-notice">
                {{ message }}
            </div>
        {% endfor %}

        <h1>Équipe</h1>
        <h2>Collaborateurs</h2>
        <div class="row">
            {% for member in members %}
            <div class="col-lg-3 col-md-6 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="member">
                    <img src="{{ asset('uploads/file/' ~ member.image) }}" class="img-fluid" alt="{{ member.lastname }} {{ member.firstname }}">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>{{ member.lastname }} {{ member.firstname }}</h4>
                            <span>{{ member.title }}</span>
                            <div class="social">
                                {% if member.site %}
                                    <a href="{{ member.site }}" target="_blank"><i class="fa fa-globe"></i></a>
                                {% endif %}
                                {% if member.email %}
                                    <a href="mailto:{{ member.email }}"><i class="fa fa-envelope"></i></a>
                                {% endif %}
                                {% if member.linkedin %}
                                    <a href="{{ member.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a>
                                {% endif %}
                                {% if member.facebook %}
                                    <a href="{{ member.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a>
                                {% endif %}
                                {% if member.github %}
                                    <a href="{{ member.github }}" target="_blank"><i class="fa fa-github"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <p class="text-center"><a class="btn custom" href="{{ path('network_edit', {'id': member.id}) }}">Modifier</a></p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <br>
        <h2>Ajouter un avis</h2>
        <div class="row">
            <div class="col-12">
                {{ include('network/_form_evaluation.html.twig') }}
            </div>
        </div>
        <h2>Avis clients</h2>
        <div class="row">
            {% for other in others %}
                <div class="experiences col-12">
                    <div class="card">
                        <div class="card-header dark experience_head">
                            <h3 class="card-title">{{ other.firstname }} {{ other.lastname }}</h3>
                            <p class="card-text">{{ other.title }}</p>
                        </div>
                        <div class="card-body">
                            <div class="left">
                                <img class="experiencelogo" src="{{ asset('uploads/file/' ~ other.image) }}" alt="{{ other.lastname }} {{ other.firstname }}">
                            </div>
                            <div class="right">
                                <p class="card-text">{{ other.description }}</p>
                            </div>
                        </div>
                        <div class="card-body card-body-align">
                            <div class="left">
                                <div class="leftone">
                                    <p>Coordonnées</p>
                                    {% if other.email %}
                                        <a href="mailto:{{ other.email }}"><i class="fa fa-envelope"></i></a>
                                    {% endif %}
                                    {% if other.site %}
                                        <a href="{{ other.site }}" target="_blank"><i class="fa fa-globe"></i></a>
                                    {% endif %}
                                </div>
                                <div class="lefttwo">
                                    <p>Réseaux sociaux</p>
                                    {% if other.linkedin %}
                                        <a href="{{ other.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    {% endif %}
                                    {% if other.facebook %}
                                        <a href="{{ other.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a>
                                    {% endif %}
                                    {% if other.github %}
                                        <a href="{{ other.github }}" target="_blank"><i class="fa fa-github"></i></a>
                                    {% endif %}
                                </div>
                                <div class="leftthree">
                                    <p>Évaluation</p>
                                    <div class="stars">
                                        {% set rest = 5 - other.star %}
                                        {% if other.star > 0 %}
                                            {% for i in 1..other.star %}
                                                <i class="fa fa-star"></i>
                                            {% endfor %}
                                        {% endif %}
                                        {% if rest > 0 %}
                                            {% for j in 1..rest %}
                                                <i class="fa fa-star-o"></i>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <p class="text-center"><a class="btn custom" href="{{ path('network_edit', {'id': other.id}) }}">Modifier</a></p>
                        {% endif %}
                    </div>
                    <br>
                </div>
            {% endfor %}
            <br>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            {{ include('footer.html.twig') }}
        </div>
    </div>
{% endblock %}
