{% extends 'base.html.twig' %}

{% block title %}Infos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/info.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/footer.css') }}">
{% endblock %}

{% block body %}
    <div id="info" class="container-fluid">
        <div class="row">
            {{ include('header.html.twig') }}
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h1>Infos</h1>
                <div class="row">
                {% for info in infos %}
                    <div class="col-md-4 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="about-col">
                            <div class="img">
                                <img src="{{ asset('uploads/file/' ~ info.image) }}" alt="{{ info.title }}" class="img-fluid">
                                {{ info.icon|raw }}
                            </div>
                            <h2 class="title">{{ info.title }}</h2>
                            <p>{{ info.description }}</p>
                            {% if is_granted('ROLE_ADMIN') %}
                                <p class="text-center"><a class="btn custom" href="{{ path('info_edit', {'id': info.id}) }}">Modifier</a></p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                </div>
                <br>
                <h2>Compétences</h2>
                <div id="techs" class="text-center">
                    <div class="row">
                        {% for skill in skills %}
                            {% if skill.id is same as(1) or skill.id is same as(6) %}
                                <div class="techs col-6 col-md-2 offset-md-1">
                            {% else %}
                                <div class="techs col-6 col-md-2">
                            {% endif %}
                                <img src="{{ asset('uploads/file/' ~ skill.image) }}" alt="{{ skill.name }}">
                                <p class="italic">{{ skill.name }}</p>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="btn custom" href="{{ path('skill_edit', {'id': skill.id}) }}">Modifier</a>
                                {% endif %}
                                </div>
                        {% endfor %}
                    </div>
                    <br>
                    <p class="bold italic">Formation en cours sur de nouvelles compétences</p>
                </div>
                <br>
                <h2>Expériences</h2>
                <div class="experiences">
                    {% for experience in experiences %}
                    <div class="card">
                        <div class="card-header dark experience_head">
                            <h3 class="card-title">{{ experience.title }}</h3>
                            <p class="card-text">{{ experience.period }}</p>
                        </div>
                        <div class="card-body">
                            <div class="left">
                                <img class="experiencelogo" src="{{ asset('uploads/file/' ~ experience.image) }}" alt="{{ experience.title }}">
                            </div>
                            <div class="right">
                                <p class="card-text">{{ experience.description }}</p>
                            </div>
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <p class="text-center"><a class="btn custom" href="{{ path('experience_edit', {'id': experience.id}) }}">Modifier</a></p>
                        {% endif %}
                    </div>
                    <br>
                    {% endfor %}
                </div>
                <br>
                <h2>Liens</h2>
                <div id="links" class="text-center">
                    <a class="btn custom" href="{{ path('portfolio') }}">Voir mon portfolio</a><br>
                    <a class="btn custom" href="{{ asset('cv.pdf') }}" target="_blank">Voir mon cv</a>
                </div>
                <br>
                <br>
                <h2>Vidéos où j'apparais</h2>
                <div class="row video">
                    {% for video in videos %}
                    <div class="col-12 col-md-6">
                        <iframe src="{{ video.url }}" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        {% if is_granted('ROLE_ADMIN') %}
                            <p class="text-center"><a class="btn custom" href="{{ path('video_edit', {'id': video.id}) }}">Modifier</a></p>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            {{ include('footer.html.twig') }}
        </div>
    </div>
{% endblock %}