{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/legal.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/footer.css') }}">
{% endblock %}

{% block body %}
    <div id="legal" class="container-fluid">
        <div class="row">
            {{ include('header.html.twig') }}
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md">
                {% for legal in legals %}
                    <h1>{{ legal.title }}</h1>
                    <p>{{ legal.content|raw }}</p>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn custom" href="{{ path('legal_edit', {'id': legal.id}) }}">Modifier</a>
                        <br>
                    {% endif %}
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            {{ include('footer.html.twig') }}
        </div>
    </div>
{% endblock %}
