{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/lightbox.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/portfolio.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/footer.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {{ include('header.html.twig') }}
        </div>
    </div>
    <div id="portfolio" class="container">
        <div class="row">
            <div class="col-md">
                <h1>Portfolio</h1>
                <ul id="portfolio-filters">
                    <li data-filter="*" class="filter-active">Tous</li>
                    {% for specialty in specialties %}
                        {% if specialty.name is same as ('Intégration') %}
                            <li data-filter=".intégration">{{ specialty.name }}</li>
                        {% elseif specialty.name is same as ('Frontend') %}
                            <li data-filter=".frontend">{{ specialty.name }}</li>
                        {% else %}
                            <li data-filter=".backend">{{ specialty.name }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>

                <div class="row portfolio-container">
                    {% for project in projects %}
                        {% set name = project.specialties.name %}
                        <div class="col-lg-4 col-md-6 portfolio-item {{ name|lower }} wow fadeInUp">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img class="img-fluid" src="{{ asset('uploads/file/' ~ project.image) }}" alt="">
                                    <a href="{{ asset('uploads/file/' ~ project.image) }}" data-lightbox="portfolio" data-title="{{ project.name }}" class="link-preview" title="Preview"><ion-icon class="icon" name="ios-eye"></ion-icon></a>
                                    <a href="{{ project.url }}" class="link-details" title="Plus d'infos" target="_blank"><ion-icon class="icon" name="open"></ion-icon></a>
                                </figure>

                                <div class="portfolio-info">
                                    <h4><a href="{{ project.url }}" target="_blank">{{ project.name }}</a></h4>
                                    <h5 class="specialty">{{ project.specialties.name }}</h5>
                                    <p>
                                        {%  for tech in project.skills %}
                                            {% if tech.name is same as ('HTML') %}
                                                <i class="devicon-html5-plain colored"></i>
                                            {% elseif tech.name is same as ('CSS') %}
                                                <i class="devicon-css3-plain colored"></i>
                                            {% elseif tech.name is same as ('Bootstrap') %}
                                                <i class="devicon-bootstrap-plain colored"></i>
                                            {% elseif tech.name is same as ('JavaScript') %}
                                                <i class="devicon-javascript-plain colored"></i>
                                            {% elseif tech.name is same as ('jQuery') %}
                                                <i class="devicon-jquery-plain colored"></i>
                                            {% elseif tech.name is same as ('PHP') %}
                                                <i class="devicon-php-plain colored"></i>
                                            {% elseif tech.name is same as ('MySQL') %}
                                                <i class="devicon-mysql-plain colored"></i>
                                            {% elseif tech.name is same as ('WordPress') %}
                                                <i class="devicon-wordpress-plain colored"></i>
                                            {% elseif tech.name is same as ('Symfony') %}
                                                <i class="devicon-symfony-original colored"></i>
                                            {% elseif tech.name is same as ('Git') %}
                                                <i class="devicon-git-plain colored"></i>
                                            {% endif %}
                                        {% endfor %}
                                    </p>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a class="btn custom" href="{{ path('project_edit', {'id': project.id}) }}">Modifier le projet</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            {{ include('footer.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/isotope.pkgd.js') }}"></script>
    <script src="{{ asset('js/portfolio.js') }}"></script>
    <script src="{{ asset('js/lightbox-plus-jquery.min.js') }}"></script>
{% endblock %}

