{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/footer.css') }}">
{% endblock %}

{% block body %}
    <div id="index" class="container-fluid">
        <div class="row">
            {{ include('header.html.twig') }}
        </div>
    </div>
    <div class="container">
        <h1>Inscription</h1>
        <h2>S'inscrire</h2>
        {{ include('form/register.html.twig') }}
        <br>
        <h2>Déjà membre ?</h2>
        <p><a class="btn custom" href="{{ path('login') }}">Se connecter</a></p>
    </div>
    <div class="container-fluid">
        <div class="row">
            {{ include('footer.html.twig') }}
        </div>
    </div>
{% endblock %}
