{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/service.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/footer.css') }}">
{% endblock %}

{% block body %}
    <div id="service" class="container-fluid">
        <div class="row">
            {{ include('header.html.twig') }}
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h1>Services</h1>
                <div class="row">
                    {% for service in services %}
                        <div class="col-md-4 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                            <div class="about-col">
                                <div class="img">
                                    <img src="{{ asset('uploads/file/' ~ service.image) }}" alt="" class="img-fluid">
                                    {{ service.icon|raw }}
                                </div>
                                <h2 class="title">{{ service.name }}</h2>
                                <p>{{ service.description }}</p>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <p class="text-center"><a class="btn custom" href="{{ path('service_edit', {'id': service.id}) }}">Modifier</a></p>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <br>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            {{ include('footer.html.twig') }}
        </div>
    </div>
{% endblock %}
