{{ form_start(form, {'attr': {'onsubmit': 'return confirm("Êtes-vous certain de vouloir laisser cette évaluation ?");'}}) }}
    <div class="row">
        <div class="col-12 col-md-6">
            {{ form_row(form.firstname) }}
        </div>
        <div class="col-12 col-md-6">
            {{ form_row(form.lastname) }}
        </div>
        <div class="col-12 col-md-6">
            {{ form_row(form.email) }}
        </div>
        <div class="col-12 col-md-6">
            {{ form_row(form.image) }}
        </div>
        <div class="col-12 col-md-6">
            {{ form_row(form.title) }}
        </div>
        <div class="col-12 col-md-6">
            {{ form_row(form.star) }}
        </div>
        <div class="col-12">
            {{ form_row(form.description) }}
        </div>
        <div class="col-12 col-md-6">
            {{ form_row(form.site) }}
        </div>
        <div class="col-12 col-md-6">
            {{ form_row(form.linkedin) }}
        </div>
        <div class="col-12 col-md-6">
            {{ form_row(form.facebook) }}
        </div>
        <div class="col-12 col-md-6">
            {{ form_row(form.github) }}
        </div>
    </div>
    {{ form_row(form._token) }}
<button class="btn custom">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form, {'render_rest': false}) }}