<h2>Liste des membres du réseau</h2>
<div class="table-responsive">
    <table class="table table-dark table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Image</th>
            <th>Poste</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for network in networks %}
            <tr>
                <td>{{ network.id }}</td>
                <td>{{ network.firstname }}</td>
                <td>{{ network.lastname }}</td>
                <td><img src="{{ asset('uploads/file/' ~ network.image) }}" alt="{{ network.lastname }} {{ network.firstname }}"></td>
                <td>{{ network.title }}</td>
                <td>{{ network.description }}</td>
                <td>
                    <a class="btn custom" href="{{ path('network_show', {'id': network.id}) }}"><span>Voir</span><ion-icon name="ios-eye" class="grey"></ion-icon></a><br><br>
                    <a class="btn custom" href="{{ path('network_edit', {'id': network.id}) }}"><span>Modifier</span><ion-icon name="ios-create" class="grey"></ion-icon></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<a class="btn custom" href="{{ path('network_new') }}"><span>Ajouter</span><ion-icon name="ios-add-circle" class="grey"></ion-icon></a>
<br><br>