{% extends 'base.html.twig' %}

{% block title %}Voir un membre du réseau{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/admin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/footer.css') }}">
{% endblock %}

{% block body %}

    <div id="admin" class="container-fluid">
        <div class="row">
            {{ include('header.html.twig') }}
        </div>
    </div>
    <div class="container">
        <h1>Voir un membre du réseau</h1>
        <div class="row">
            <div class="col-md">
                <table class="table table-dark table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Image</th>
                        <th>Poste</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ network.id }}</td>
                        <td>{{ network.firstname }}</td>
                        <td>{{ network.lastname }}</td>
                        <td><img src="{{ asset('uploads/file/' ~ network.image) }}"></td>
                        <td>{{ network.title }}</td>
                        <td>{{ network.description }}</td>
                        <td>
                            <a class="btn custom" href="{{ path('network_edit', {'id': network.id}) }}"><span>Modifier</span><ion-icon name="ios-create" class="grey"></ion-icon></a>
                            <br><br>
                            {{ include('network/_delete_form.html.twig') }}
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p class="text-center"><a class="btn custom" href="{{ path('admin_home') }}">Retour à l'administration</a></p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            {{ include('footer.html.twig') }}
        </div>
    </div>
{% endblock %}