<h2>Liste des services</h2>
<div class="table-responsive">
    <table class="table table-dark table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Image</th>
                <th>Icône</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.name }}</td>
                <td>{{ service.description }}</td>
                <td><img src="{{ asset('uploads/file/' ~service.image) }}" alt="{{ service.name }}"></td>
                <td>{{ service.icon }}</td>
                <td>
                    <a class="btn custom" href="{{ path('service_show', {'id': service.id}) }}"><span>Voir</span><ion-icon name="ios-eye" class="grey"></ion-icon></a><br><br>
                    <a class="btn custom" href="{{ path('service_edit', {'id': service.id}) }}"><span>Modifier</span><ion-icon name="ios-create" class="grey"></ion-icon></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<a class="btn custom" href="{{ path('service_new') }}"><span>Ajouter</span><ion-icon name="ios-add-circle" class="grey"></ion-icon></a>
<br><br>
