<h2>Liste des mentions légales</h2>
<div class="table-responsive">
    <table class="table table-dark table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Contenu</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for legal in legals %}
            <tr>
                <td>{{ legal.id }}</td>
                <td>{{ legal.title }}</td>
                <td>{{ legal.content|raw }}</td>
                <td>
                    <a class="btn custom" href="{{ path('legal_show', {'id': legal.id}) }}"><span>Voir</span><ion-icon name="ios-eye" class="grey"></ion-icon></a><br><br>
                    <a class="btn custom" href="{{ path('legal_edit', {'id': legal.id}) }}"><span>Modifier</span><ion-icon name="ios-create" class="grey"></ion-icon></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<a class="btn custom" href="{{ path('legal_new') }}"><span>Ajouter</span><ion-icon name="ios-add-circle" class="grey"></ion-icon></a>
<br><br>
