#admin{
    margin-top: 100px;
}
a, a:hover{
    color: #f2f2f2;
}
img{
    width: 250px;
}
#skill img{
    width: 150px;
}
td a, td a:hover {
    color: white;
    background-color: #44ccff;
}
.link, .link:hover{
    color: #44ccff;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
.grey{
    color: white;
    position: relative;
    left: 5px;
    top: 2px;
}
