body{
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color: #f2f2f2;
}

#logo{
    width:50px;
}

.navbar{
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: bold;
}