#contact{
    margin-top: 100px;
}
#contact p, .icon{
    text-align: center;
}
.description{
    margin: 20px 0;
}
#contact_infos{
    margin: 20px 0;
}
#email, #mobile, #social{
    padding: 40px 0;
}
#mobile{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: none;
    border-right: none;
    width: 80%;
    margin: auto;
}
#contact h3{
    font-size: 18px;
    margin: 40px 0;
}
.icon{
    font-size: 48px;
}
.social_icons{
    font-size: 28px;
    margin: 0 20px;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    #mobile{
        border-top: none;
        border-bottom: none;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}