#equipe{
    margin-top: 100px;
}

.member {
    text-align: center;
    margin-bottom: 20px;
    background: #000;
    position: relative;
}

.member .member-info {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
}

.member .member-info-content {
    margin-top: -50px;
    transition: margin 0.2s;
}

.member:hover .member-info {
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
    transition: 0.4s;
}

.member:hover .member-info-content {
    margin-top: 0;
    transition: margin 0.4s;
}

.member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
}

.member span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #fff;
}

.member .social {
    margin-top: 15px;
}

.member .social a {
    transition: none;
    color: #fff;
}

.member .social a:hover {
    color: #44ccff;
}

.member .social i {
    font-size: 18px;
    margin: 0 2px;
}

.card-body-align{
    margin: 0 50px;
    display: flex;
    justify-content: space-between !important;
}
.card-body-align .left,.card-body-align .right  {
    text-align: center;
}
.stars {
    display: flex;
}
.card-body-align i{
    margin: 10px;
    color: #44ccff;
    font-size: 2em;
}

@media (min-width: 992px) {
    .card-body-align .left{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .card-body-align i{
        font-size: 1.4em;
    }
}