footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}
footer a{
    color: #f2f2f2;
}
footer a:hover{
    color: #44ccff;
    text-decoration: none;
}
.bar{
    margin: 0 10px;
}
.ios-lock{
    font-size: 28px;
}