.dark{
    background-color: black;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link{
    color: #f2f2f2;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #44ccff;
}
.navbar-light .navbar-toggler{
    border-color: white;
}
.navbar-toggler{
    background-color: white;
}
#logo{
    width: 50px;
}
@media (min-width: 576px) {

}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
    .navbar{
        padding: 0 100px;
    }
}

@media (min-width: 1200px) {

}