#info{
    margin-top: 100px;
}

.container a{
    text-decoration: none;
}

.about-col {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
}

.about-col .img {
    position: relative;
}

.about-col .img img {
    border-radius: 4px 4px 0 0;
}

.about-col .icon {
    width: 64px;
    height: 64px;
    padding-top: 8px;
    text-align: center;
    position: absolute;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    border: 4px solid #fff;
    left: calc( 50% - 32px);
    bottom: -30px;
    transition: 0.3s;
}
ion-icon .icon-inner, ion-icon svg{
    margin: auto;
}
.about-col i {
    font-size: 36px;
    line-height: 1;
    color: #fff;
    transition: 0.3s;
}

.about-col:hover .icon {
    background-color: #fff;
}

.about-col:hover i {
    color: #44ccff;
}

.about-col h2 {
    color: #000;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    padding: 0;
    margin: 40px 0 12px 0;
}

.about-col h2 a {
    color: #000;
}

.about-col h2 a:hover {
    color: #44ccff;
}

.about-col p {
    font-size: 14px;
    line-height: 24px;
    color: #333;
    margin-bottom: 0;
    padding: 0 20px 20px 20px;
}

.italic{
    font-style: italic;
}
.bold{
    font-weight: bold;
}
.experiencelogo{
    width: 100%;
}
.card{
    color: black;
}
.card-header{
    color: white;
    padding: .75rem 1.25rem .50rem 1.25rem
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left{
    margin-bottom: 20px;
}
.experiencelogo{
    width: 125px;
}
#links{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.col-12{
    margin-bottom: 15px;
}
iframe{
    width: 100%;
    height: 350px;
}

@media (min-width: 992px) {
    .experience_head{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .card-body{
        flex-direction: row;
        height: 120px;
    }
    .left{
        margin-bottom: 0;
    }
    .right{
        margin-left: 50px;
    }
    #links{
        flex-direction: row;
        justify-content: space-around;
    }
    .col-12{
        margin-bottom: 25px;
    }

}