ul{
    list-style-type: none;
}
li{
    display: inline-block;
}
.tech{
    margin: 10px 0;
}
.project{
    display: flex;
    align-items: stretch;
}
.project_content{
    margin: 10px;
    padding-bottom: 10px;
    background-color: #333333;
    color: #f2f2f2;
    text-align: center;
    border: solid 1px black;
}
.project_content p{
    margin: 0 10px;
}
h3{
    font-size: 24px;
    margin: 10px;
}
img{
    width: 100%;
}

.col-3{
    margin-top: 20px;
}
.tech_list{
    margin: 0 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.badge-info{
    margin: 10px 5px;
    min-width: 50px;
}

/*


 */


.test{
    display: none;
}