#portfolio{
    margin-top: 100px;
}
.portfolio-container{
    position: relative;
}
#portfolio-filters{
    padding: 0;
    margin: 5px 0 35px 0;
    list-style: none;
    text-align: center;
}
#portfolio #portfolio-filters li {
    cursor: pointer;
    margin: 15px 15px 15px 0;
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 20px;
    color: #666666;
    border-radius: 4px;
    text-transform: uppercase;
    background: #fff;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}
#portfolio #portfolio-filters li:hover, #portfolio #portfolio-filters li.filter-active {
    background: #44ccff;
    color: #fff;
}
#portfolio .portfolio-item {
    position: relative;
    overflow: hidden;
    margin: 15px -2px;
}

#portfolio .portfolio-item figure {
    background: #000;
    overflow: hidden;
    height: 190px;
    position: relative;
    border-radius: 4px 4px 0 0;
    margin: 0;
}

#portfolio .portfolio-item figure:hover img {
    opacity: 0.4;
    transition: 0.3s;
}

#portfolio .portfolio-item figure .link-preview, #portfolio .portfolio-item figure .link-details {
    position: absolute;
    display: inline-block;
    opacity: 0;
    line-height: 1;
    text-align: center;
    width: 36px;
    height: 36px;
    background: #fff;
    border-radius: 50%;
    transition: 0.2s linear;
}

#portfolio .portfolio-item figure .link-preview .icon, #portfolio .portfolio-item figure .link-details .icon {
    padding-top: 6px;
    font-size: 22px;
    color: #333;
}

#portfolio .portfolio-item figure .link-preview:hover, #portfolio .portfolio-item figure .link-details:hover {
    background: #44ccff;
}

#portfolio .portfolio-item figure .link-preview:hover i, #portfolio .portfolio-item figure .link-details:hover i {
    color: #fff;
}

#portfolio .portfolio-item figure .link-preview {
    left: calc(50% - 38px);
    top: calc(50% - 18px);
}

#portfolio .portfolio-item figure .link-details {
    right: calc(50% - 38px);
    top: calc(50% - 18px);
}

#portfolio .portfolio-item figure:hover .link-preview {
    opacity: 1;
    left: calc(50% - 44px);
}

#portfolio .portfolio-item figure:hover .link-details {
    opacity: 1;
    right: calc(50% - 44px);
}

#portfolio .portfolio-item .portfolio-info {
    background: #f2f2f2;
    text-align: center;
    padding: 30px;
    border-radius: 0 0 3px 3px;
}

#portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 18px;
    padding-bottom: 0;
}

#portfolio .portfolio-item .portfolio-info h4 a {
    color: #333;
}

#portfolio .portfolio-item .portfolio-info h4 a:hover {
    color: #44ccff;
    text-decoration: none;
}

#portfolio .portfolio-item .portfolio-info p {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}
#portfolio .portfolio-wrap {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

#portfolio .portfolio-wrap:hover {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}
#portfolio .specialty{
    color: #666666;
    margin-bottom: 20px;
    font-size: 16px;
}
[class*=" devicon-"], [class^=devicon-]{
    font-size: 28px;
    display: inline-block;
    margin: 10px 5px;
}
@media (min-width: 992px) {
    [class*=" devicon-"], [class^=devicon-]{
        font-size: 18px;
    }
    #portfolio .portfolio-item figure {
        height: 220px;
    }
}
