<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ path('index') }}"><img id="logo" src="{{ asset('img/logoabdouniabdelkarimblanc.png') }}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item {% if app.request.attributes.get('_route') == 'homepage'%}active{% endif %}">
                    <a class="nav-link" href="{{ path('index') }}"><i class="fa fa-home" aria-hidden="true"></i> Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == 'infos'%}active{% endif %}">
                    <a class="nav-link disabled" href="#"><i class="fa fa-info" aria-hidden="true"></i> Infos</a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == 'cv'%}active{% endif %}">
                    <a class="nav-link disabled" href="#"><i class="fa fa-id-card-o" aria-hidden="true"></i> CV</a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == 'portfolio'%}active{% endif %}">
                    <a class="nav-link" href="{{ path('portfolio') }}"><i class="fa fa-briefcase" aria-hidden="true"></i> Portfolio</a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == 'contact'%}active{% endif %}">
                    <a class="nav-link disabled" href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
