{% extends 'base.html.twig' %}
{% block title %}Portfolio{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/portfolio.css') }}">
{% endblock %}

{% block body %}
    {% include 'default/header.html.twig' %}
    <main class="container">
        <div id="headerportfolio" class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                <h1>Portfolio</h1>
            </div>
            {% for tech in allTechs %}
                <div id="{{ tech.id }}" class="col-2 col-sm-3 col-md-2 col-lg-2 col-xl-2 tech">
                    <img src="{{ asset(tech.image) }}">
                </div>
            {% endfor %}
        </div>
        <div id="projects" class="row"></div>
    </main>
    {% include 'default/footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        var url = "{{ absolute_url(path('techs')) }}";
        $(document).ready(function () {
            $.ajax({
                url: url,
                success: function (data) {
                    $.each( data.data, function( key, val ) {
                        var block = '<div id='+ val.id +' class="project col-xl-3"><div class="project_content">' +
                            '<img id="image'+ val.id +'" src='+ val.image+' class="project_image">' +
                            '<div class="project_desc"><h3>'+ val.name +'</h3>'+
                            '<p>Description : ' + val.description.substring(0, 50) +'</p>'+
                            '<button id="more'+ val.id +'" type="button" class="btn btn-info btn-sm more">Lire la suite</button>'+
                            '<div class="test"><p class="tech_list tech'+key+'"></p>'+
                            '<p><button type="button" class="btn btn-secondary btn-sm">Retour</button></p>'+
                            '<p><button type="button" class="btn btn-info btn-sm">Voir le site</button></p>'+
                            '</div></div></div>';
                        $("#projects").append(block);
                        for(i = 0; i < val.techs.length; i++){
                            console.log(val.techs[i]);
                            console.log('.tech'+key);
                            $('.tech'+key).append('<span class="badge badge-light">'+val.techs[i]+'</span>');
                        };
                        $("#projects").hide().fadeIn(800);
                    });

                    $('.more').click(function () {
                        var id = $(this).attr('id');
                        console.log(id);
                        id = id.substr(4,1);
                        console.log(id);
                        console.log('#image'+id);
                        $('#image'+id).animate({'height': '0'}, 1500, function () {
                            $('#image'+id).css('display', 'none');
                        });
                    });
                }
            });

        });
        $('.tech').click(function(){
            //Effets du menu
            $('img').css('opacity', 1);
            var id = $(this).attr('id');
            var img = $(this).children().attr('src')
            var imgs = $('.tech img');
            $.each(imgs, function( key, val ) {
                console.log(val.src);
                console.log(img);
                if(img != val.src)
                {
                    $(this).fadeTo('slow', 0.5);
                }
            });

            $('.project').remove();
            var id = $(this).attr('id');
            var url2 = "{{ absolute_url(path('tech', {'id': 'value'})) }}";
            url2 = url2.replace('value', id);
            $.ajax({
                url: url2,
                success: function(data)
                {
                    var block;
                    if(data.data[0] == undefined){
                        block = '<div class="project col-xl-12 alert alert-warning" role="alert">Aucun projet pour le moment</div>';
                    }
                    else{
                        $.each( data.data, function( key, val ) {
                            block = '<div id='+ val.id +' class="project col-xl-3"><div class="project_content">' +
                                '<img src='+ val.image+'>' +
                                '<h3>'+ val.name +'</h3>'+
                                '<p>Description : ' + val.description +'</p>'+
                                '</div></div>';
                        });
                    }
                    $("#projects").append(block);
                    $("#projects").hide().fadeIn(800);
                }
            });
        });
    </script>
{% endblock %}
