body{
    font-family: "Open Sans", sans-serif;
    color: #f2f2f2;
    background-color: #585858;
}
h1, h2, h3, h4, h5{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}
h1{
    font-size: 36px;
}
h2{
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
}
h3{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.custom{
    color: #f2f2f2;
    background-color: #3EBAE8;
}
.custom:hover{
    color: #f2f2f2;
    border: solid 1px #f2f2f2;
}
.icon{
    color: #44ccff;
}
input[type="submit"] {
    color: white;
    border: solid 1px white;
    background-color: #44ccff;
    font-weight: bold;
}
