<h2>Liste des vidéos</h2>
<div class="table-responsive">
    <table class="table table-dark table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Url</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td>{{ video.id }}</td>
                <td>{{ video.name }}</td>
                <td><iframe src="{{ video.url }}"></iframe></td>
                <td>
                    <a class="btn custom" href="{{ path('video_show', {'id': video.id}) }}"><span>Voir</span><ion-icon name="ios-eye" class="grey"></ion-icon></a><br><br>
                    <a class="btn custom" href="{{ path('video_edit', {'id': video.id}) }}"><span>Modifier</span><ion-icon name="ios-create" class="grey"></ion-icon></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<a class="btn custom" href="{{ path('video_new') }}"><span>Ajouter</span><ion-icon name="ios-add-circle" class="grey"></ion-icon></a>
<br><br>
