<form method="post" action="{{ path('info_delete', {'id': info.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ info.id) }}">
    <button class="btn delete">Supprimer <ion-icon name="ios-trash" class="grey"></ion-icon></button>
</form>