 <h2>Liste des infos</h2>
<div class="table-responsive">
    <table class="table table-dark table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Poste</th>
                <th>Description</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for info in infos %}
            <tr>
                <td>{{ info.id }}</td>
                <td>{{ info.title }}</td>
                <td>{{ info.description }}</td>
                <td><img src="{{ asset('uploads/file/' ~ info.image) }}" alt="{{ info.title }}"></td>
                <td>
                    <a class="btn custom" href="{{ path('info_show', {'id': info.id}) }}"><span>Voir</span><ion-icon name="ios-eye" class="grey"></ion-icon></a><br><br>
                    <a class="btn custom" href="{{ path('info_edit', {'id': info.id}) }}"><span>Modifier</span><ion-icon name="ios-create" class="grey"></ion-icon></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<a class="btn custom" href="{{ path('info_new') }}"><span>Ajouter</span><ion-icon name="ios-add-circle" class="grey"></ion-icon></a>
<br><br>
