{% extends 'base.html.twig' %}

{% block title %}Éditer une compétence{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/admin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/footer.css') }}">
{% endblock %}

{% block body %}
    <div id="admin" class="container-fluid">
        <div class="row">
            {{ include('header.html.twig') }}
        </div>
    </div>
    <div class="container">
        <h1>Éditer une compétence</h1>
        <div class="row">
            <div class="col-md">
                {{ include('skill/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                <div class="text-right">{{ include('skill/_delete_form.html.twig') }}</div>
            </div>
        </div>
        <br>
        <p class="text-center"><a class="btn custom" href="{{ path('admin_home') }}">Retour à l'administration</a></p>
    </div>
{% endblock %}