<h2>Liste des compétences</h2>
<div class="table-responsive">
    <table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for skill in skills %}
        <tr>
            <td>{{ skill.id }}</td>
            <td>{{ skill.name }}</td>
            <td><img src="{{ asset('uploads/file/' ~ skill.image) }}" alt="{{ skill.name }}"></td>
            <td>
                <a class="btn custom" href="{{ path('skill_show', {'id': skill.id}) }}"><span>Voir</span><ion-icon name="ios-eye" class="grey"></ion-icon></a><br><br>
                <a class="btn custom" href="{{ path('skill_edit', {'id': skill.id}) }}"><span>Modifier</span><ion-icon name="ios-create" class="grey"></ion-icon></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">Aucune donnée trouvée</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

<a class="btn custom" href="{{ path('skill_new') }}"><span>Ajouter</span><ion-icon name="ios-add-circle" class="grey"></ion-icon></a>
<br><br>
