<footer class="col-md dark text-center">
    <a href="{{ path('legal') }}">Mentions légales</a><span class="bar">-</span><a href="{{ path('admin_home') }}"><ion-icon name="ios-lock" class="ios-lock"></ion-icon></a>
</footer>