<nav class="navbar navbar-expand-lg navbar-light fixed-top dark col">
    <a class="navbar-brand" href="{{ path('accueil') }}"><img id="logo" src="{{ asset('images/logo.png') }}" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('accueil') }}">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('info') }}">Infos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('service') }}">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('portfolio') }}">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('equipe') }}">Équipe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('contact') }}">Contact</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('logout') }}">Déconnexion</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>