<h2>Liste des expériences</h2>
<div class="table-responsive">
    <table class="table table-dark table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Poste</th>
            <th>Période</th>
            <th>Image</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for experience in experiences %}
            <tr>
                <td>{{ experience.id }}</td>
                <td>{{ experience.title }}</td>
                <td>{{ experience.period }}</td>
                <td><img src="{{ asset('uploads/file/' ~ experience.image) }}" alt="{{ experience.title }}"></td>
                <td>{{ experience.description }}</td>
                <td>
                    <a class="btn custom" href="{{ path('experience_show', {'id': experience.id}) }}"><span>Voir</span><ion-icon name="ios-eye" class="grey"></ion-icon></a><br><br>
                    <a class="btn custom" href="{{ path('experience_edit', {'id': experience.id}) }}"><span>Modifier</span><ion-icon name="ios-create" class="grey"></ion-icon></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<a class="btn custom" href="{{ path('experience_new') }}"><span>Ajouter</span><ion-icon name="ios-add-circle" class="grey"></ion-icon></a>
<br><br>