{% extends 'base.html.twig' %}

{% block title %}Voir une expérience{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/admin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/footer.css') }}">
{% endblock %}

{% block body %}

    <div id="admin" class="container-fluid">
        <div class="row">
            {{ include('header.html.twig') }}
        </div>
    </div>
    <div class="container">
        <h1>Voir une expérience</h1>
        <div class="row">
            <div class="col-md">
                <table class="table table-dark table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Poste</th>
                        <th>Période</th>
                        <th>Image</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ experience.id }}</td>
                        <td>{{ experience.title }}</td>
                        <td>{{ experience.period }}</td>
                        <td><img src="{{ asset('uploads/file/' ~ experience.image) }}"></td>
                        <td>{{ experience.description }}</td>
                        <td>
                            <a class="btn custom" href="{{ path('experience_edit', {'id': experience.id}) }}"><span>Modifier</span><ion-icon name="ios-create" class="grey"></ion-icon></a>
                            <br><br>
                            {{ include('experience/_delete_form.html.twig') }}
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p class="text-center"><a class="btn custom" href="{{ path('admin_home') }}">Retour à l'administration</a></p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            {{ include('footer.html.twig') }}
        </div>
    </div>
{% endblock %}