{% extends 'base.html.twig' %}

{% block title %}Nouveau Projet{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/admin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/footer.css') }}">
{% endblock %}

{% block body %}
    <div id="admin" class="container-fluid">
        <div class="row">
            {{ include('header.html.twig') }}
        </div>
    </div>
    <div class="container">
        <h1>Création d'un nouveau projet</h1>
        <div class="row">
            <div class="col-md">
                {{ include('project/_form.html.twig') }}
                <br>
                <br>
                <p class="text-center"><a class="btn custom" href="{{ path('admin_home') }}">Retour à l'administration</a></p>
                <br>
                <br>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            {{ include('footer.html.twig') }}
        </div>
    </div>
{% endblock %}