{% extends 'base.html.twig' %}

{% block title %}Mail reçu{% endblock %}

{% block body %}
    <p>Nom du contact : {{ data.name }}</p>
    <p>Email du contact : {{ data.email }}</p>
    <p>Sujet du contact : {{ data.subject }}</p>
    <p>Message du contact : {{ data.message }}</p>
{% endblock %}
